.pagina-sorvete {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 246, 250, 1);
    height: 965px;

    .total {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px;
    }

    .sorvete {
        box-shadow:  0px 0px 14px rgba(173, 173, 173, 0.25);
        height: 660px;
        border-radius: 5px;
        width: 700px;
        display: flex;
        gap: 30px;        
        flex-direction: column;
    }



    .foto > img {
        width: 700px;
        height: 150px;
    }

    .conteudo {
        padding: 0px 0px 0px 40px;
        line-height: 30px;
    }

    .th{
display: flex;
flex-direction: row;
    }

    label {
        font-size: 20px;
        padding: 5px 10px 10px 10px;
        width: 40px;
        border-radius: 4px;
        margin: 10px 0px 0px 0px;
        background-color: #fff;
        border: 1px solid #DFDFDF;
    }

    input {
        font-size: 20px;
        padding: 10px 7px 10px 20px;
        width: 200px;
        margin: 10px 10px 0px 0px;
        border-radius: 4px;
        border: 1px solid #DFDFDF;
    }

    button {
        background-color: #8A4A66;
        
        cursor: pointer;
        outline: none;
        border: none;

        color: #fff;
        font-size: 22px;
        padding: 5px 22px;
        border-radius: 4px;


    }



    button:hover {
        background-color: rgb(170, 64, 70);
    }

    h1 {
        font-size: 26px;
    }

    .lt {
        margin: 50px 100px 20px 0px;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    tr {
        font-size: 20px;
        padding: 10px 10px 10px 20px;
        width: 620px;
        margin: 0px 20px 0px 0px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #DFDFDF;
        background-color: #fff;
    }

}